<!-- Beinhaltet das Haupttemplate der App -->
<div class="container">
  <h2>Mein Angular-Blog</h2>

  <app-blog-entry *ngFor="let entry of entries" [entry]="entry">

  </app-blog-entry>

  <br />
  <h3>Neuen Blog-Eintrag erstellen</h3>

  <div class="d-flex col-md-6">
    <div class="h-100 p-5 bg-body-tertiary border rounded-3">
      <form action="">
        <div class="mb-3 control">
          <label for="title" class="form-label">Titel:</label>
          <input type="text" id="title" class="form-control" #title />
        </div>
        <div class="mb-3 control">
          <label class="form-label" for="image">Bild-URL:</label>
          <input class="form-control" type="text" id="image" #image />
        </div>
        <div class="mb-3 control">
          <label class="form-label" for="text">Text:</label>
          <textarea
            class="form-control"
            id="text"
            cols="20"
            rows="3"
            #text
          ></textarea>
        </div>
        <div>
          <button
            class="btn btn-primary"
            (click)="createBlogEntry(title.value, image.value, text.value)"
          >
            Blog-Eintrag anlegen
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Bootstrap Beispiel
<form>
  <div class="mb-3 control">
    <label for="title" class="form-label">Titel:</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form> -->
